<!-- Tab links -->
<div class="tab">
  <button id="criteriaTab" class="tablinks" [ngClass]="{'active': tab === 1}" (click)="navigate('list-criteria')">Criteria</button>
  <button id="usersTab" class="tablinks" [ngClass]="{'active': tab === 2}" (click)="navigate('list-user')">Users</button>
</div>
