<div class="col-md-3"></div>
<div class="col-md-6 character-container">
  <app-header-tabs [tab]="2"></app-header-tabs>
  <!-- <button class="btn btn-info" style="width:100px" (click)="goToStories()"> Stories</button> -->
      <table class="minimalistBlack mt-2">
          <thead>
            <tr>
              <th>Code</th>
              <th>Created</th>
              <th>actions</th>
            </tr>
          </thead>
          <tfoot>
            <tr>
              <td>
                <input type="text" class="form-control" id="step" [(ngModel)]="newUser.code" />
              <td>&nbsp;</td>
              <td>
                <button type="button" (click)="addUser()">Add</button>
              </td>
            </tr>
          </tfoot>
          <tbody>
            <tr *ngFor="let item of users">
              <td>{{ item.code }}</td>
              <td>{{ item.created_at }}</td>
              <td>
                <button type="button" (click)="deleteUser(item.id, item.code)">Delete</button>
                <button type="button" (click)="editUser(item.id)">Edit Features</button>
                <!-- <button type="button" (click)="editCriteriaType(item.id)">Edit</button> -->
              </td>
            </tr>
          </tbody>
        </table>

    </div>
