<div class="col-md-3"></div>
<div class="col-md-6 character-container">
  <h2 class="text-center">Edit User Features</h2>
  <div>
    <button type="button" (click)="navigateBack()">back to list</button>
  </div>
    <form class="mt-5">

      <div *ngFor="let item of allValues" class="form-group">
        <label [for]="item.criteria.name">{{item.criteria.name}}</label>
        <select class="form-control" [name]="item.criteria.name" [(ngModel)]="item.value" required>
          <option *ngFor="let value of item.criteria.values" [value]="value.id" [selected]="value.id === item.value">{{value.value_display}}</option>
        </select>
      </div>

      <button type="submit" (click)="onSubmit()" class="btn btn-success">Save</button>
    </form>
</div>
