<div class="col-md-3"></div>
<div class="col-md-6 character-container">
    <app-header-tabs [tab]="1"></app-header-tabs>
    <!-- <button class="btn btn-info" style="width:100px" (click)="goToStories()"> Stories</button> -->
        <table class="minimalistBlack mt-2">
            <thead>
              <tr>
                <th>Name</th>
                <th>Required</th>
                <th>Order</th>
                <th>actions</th>
              </tr>
            </thead>
            <tfoot>
              <tr>
                <td>
                  <input type="text" class="form-control" id="step" [(ngModel)]="newCriteria.name" />
                </td>
                <td>
                  <input type="checkbox" class="form-control" id="value" [(ngModel)]="newCriteria.required" />
                </td>
                <td>
                    <input type="number" class="form-control" id="value" [(ngModel)]="newCriteria.display_order" />
                  </td>
                <td><button type="button" (click)="addCriteria()">Add</button></td>
              </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let item of criteria">
                <td>{{ item.name }}</td>
                <td>{{ item.required }}</td>
                <td>{{ item.display_order }}</td>
                <td>
                  <button type="button" (click)="deleteCriteria(item.id, item.name)">Delete</button>
                  <button type="button" (click)="editCriteriaType(item.id)">Edit</button>
                </td>
              </tr>
            </tbody>
          </table>

      </div>
